

<%if flash.has?(:message) %>
    <p style="color: green"><%= flash[:message]%></p>
<%end%> 

<h2>Bucketlist : <%= @bucketlist.name %></h2>

<ol>
    <% @bucketlist.bucketlist_countries.each do |bucketlist_country| %>
        <li><%= bucketlist_country.country.name %> <%= bucketlist_country.visited ? "✔️" : "X" %></li> 
    <%end%>

    </form>

    <br><button> <a href="/bucketlists/<%= @bucketlist.id %>/edit"> EDIT </a></button>
</ol>


